#heading{
color: blueviolet;
}
h3{
    color: red;
}
.plan{
    width: 600px;
    height: 200px;
    background-color: orange;
    margin-left: 200px;
}
.para{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color:blue;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}